@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.controls {
    display: flex;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
  }
  
  .controls-right {
    margin-left: auto;
  }
  
  .state {
    margin: 10px 0;
    font-family: monospace;
  }
  
  .state-title {
    color: #999;
    text-transform: uppercase;
  }

  .ql-editor ::selection {
    background: lightblue; /* Change this to your desired color */
  }
  
  .ql-editor ::-moz-selection {
    background: lightblue; /* For Firefox */
  }

  .ql-editor {
    height: 36rem;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .ql-toolbar{

  }

  @keyframes moveLeft {
    from {
      transform: translateX(25%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .move-left {
    animation: moveLeft 1s ease-out forwards;
  }


  /* user defined tailwind css */
  .border-radius{
    border-bottom: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .border-radius-inner{
    border-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .camera-container {
    background-color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 50%;
    line-height: 26px;
    margin-left: -90px;
    position: absolute;
    text-align: center;
    width: 180px;
}

.camera {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.dot {
  background-color: #707070;
  border-radius: 4px;
  display: inline-block;
  height: 8px;
  width: 8px;
}

.active .dot{
  background-color: #2dc937;
}

.container{
  width: 80%;
}

/* .glass-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
} */